body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article {
  background: darkcyan;
  color: white;
  padding: 20px;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

nav {
  list-style-type: none;
  overflow: hidden;
  background-color: navy;
  font-size: large;
}

ul {
  list-style: none;
  display: flex;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 70px;
  font-size: larger;
  margin-right: 1em;
}

li a:hover {
  background-color: darkcyan;
}

p {
  font-size: medium;
}

h2 {
  font-size: large;
}

h3 {
  font-size: x-large;
  color: white;
}

img {
  height: 200px;
  height: 200px;
}

.titel {
  font-size: 400%;
  font-weight: bolder;
}

.thaieats {
  font-size: x-large;
    font-weight: bolder;
  }

.recepten {
  font-size: 200%;
  font-weight: bolder;
}

input[type=text] {
  width: 200px; 
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left:85%;
}

main {
  list-style-type: none;
display: flex;
justify-content: center;
}

footer {
  background-color: navy;
  color: white;
  padding: 1em;
}